.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-image: url(../images/se_project_2_files/background_header.svg);
  background-size: cover;
  height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  background-repeat: no-repeat;
}

.header__title {
  margin: 183px 0 0;
  max-width: 729px;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  color: #3f96f3;
}

.header__description {
  margin: 28px 0 0;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.nav__link {
  text-decoration: none;
  color: #000000;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-weight: 500;
  color: #6f6f6f;
  align-items: flex-end;
}

.header__paragraph {
  margin: 0;
}

.recipes {
  color: #ffffff;
  background-color: #0a2750;
  background-image: url(../images/se_project_2_files/background_recipes.svg);
  padding: 100px 80px 215px;
}

.recipes__title {
  max-width: 580px;
  margin: 0 0 24px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  margin-top: 24px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/se_project_2_files/background_reservation.svg);
  padding: 100px 0 120px;
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form {
  max-width: 385px;
}

.reservation__form {
  margin: 0 auto;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  font-weight: 500;
}

.form__input {
  display: block;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  margin: 8px 0 32px;
  border: 1px solid #838383;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  width: 100%;
  border: none;
  padding: 20px 0;
  border-radius: 4px;
  background-color: #1878dc;
  margin-bottom: 32px;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
}

input[type="checkbox"] {
  background-color: #1878dc;
  width: 20px;
  height: 20px;
  appearance: none;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-image: url(../images/se_project_2_files/check.svg);
  background-position: center;
  background-repeat: no-repeat;
}
